*,* ::before, * ::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* Setting a variable for the color of body according to wrong and right answer*/
:root { 
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}
/* Setting a variable for the color of body according to wrong and right answer*/
body {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}
/* Setting a variable for the color of body according to right answer*/
body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);

}
.nav {
    background-color: white;
}
a {
    color: aqua;
    font-size:normal;

}
#timer {
    color: aqua;
    padding: 8px;
    margin-left: 1005px;
}
#timer-value {
    padding-top: 9px;

    color: red;
}
#Header2-container {
    color: aqua;

    padding: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: inherit;
}
#quiz-title {
    
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    display: flex;
    width: 100vw;
   
    justify-content: center;
    align-items: center;

}
#quiz-description {
    color: rgb(175, 201, 30);
    font-size: 1.40rem;
    word-wrap: break-word;
    display: flex;
    width: 100vw;
    
    font-weight: lighter;
    justify-content: center;
    align-items: center;

}


#game-container {
    margin-left: 380px;
    
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    align-items: center;
}
#question {
    
    justify-content: center;
    align-items: center;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
/* Button varibles starts blue */
.btn {
    --hue: var(-- hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    
    color: white;
    outline: none;
}
.btn:hover {
    border-color: black;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;

}
.btn.wrong {

    --hue: var(--hue-wrong);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls,#start-btn,#next-btn {
    color:aqua;
    padding-bottom:10px;
    padding-top: 10px;
    
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    
}
.hide {
    display: none;
   
}
.controls,#start-btn:hover,#next-btn:hover{
    border-color: black;
}